[
 {:matrix/local-address "#clojurescript:matrix.org"
  :matrix/internal-id "!LOwFQWBsILWVcszfWb:matrix.org"
  :matrix/room-type :matrix/native
  :clojurians.room/name "ClojureScript"}

 {:matrix/local-address "#clojure:matrix.org"
  :matrix/internal-id "!GXJpdJEwxAgOTnmxPa:matrix.org"
  :matrix/room-type :matrix/native
  :clojurians.room/name "Clojure"}

 {:matrix/local-address "#clojure-community:matrix.org"
  :matrix/internal-id "!jLvInSoGQrZDRhWtNq:matrix.org"
  :matrix/room-type :matrix/native
  :clojurians.room/name "Clojure Community"}

 {:matrix/local-address " #clojure-vienna:matrix.org"
  :matrix/internal-id "!gWEkPbprAwBHgNtVcH:matrix.org"
  :matrix/room-type :matrix/native
  :clojurians.room/name "Clojure Vienna"}

 {:matrix/local-address " #cljsrn:matrix.org"
  :matrix/internal-id "!JkMrQnKTfotvhViLlq:matrix.org"
  :matrix/room-type :matrix/native
  :clojurians.room/name "ReactNative + ClojureScript"}

 {:matrix/local-address " #boot-clj:matrix.org"
  :matrix/internal-id "!iRoWAhLPAIVgDsLVCj:matrix.org"
  :matrix/room-type :matrix/native
  :clojurians.room/name "Boot"}

 {:matrix/local-address "#freenode_#clojure:matrix.org"
  :matrix/internal-id "!HwdJxzcqVqGahvmXHs:matrix.org"
  :matrix/room-type :matrix.bridge/irc
  :clojurians.room/name "Clojure"}

 ]